body{
    height: 100%;
}

/*position the nav bar*/
#logo-image{
    max-width:300px;
    height:100%;
    width:100%;
}

.navigation{
    display: inline-block;
}

#nav-elements{
    width: 35vw;
    display: flex;
    justify-content: space-around;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#header{
    display: inline-block;
    width: 100%; 
	min-height: 50px; 
	height: auto; 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position:fixed;
    top:0;
    border: 2px solid white;
    background-color: antiquewhite;
}

/*position the search form*/
#form,#heading-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

#email,#submit{
    max-width: 300px;
    width:100%;
}

#form{
    height:80px;
    justify-content: space-around;
}
#search-button{
    margin-top: 100px;
}

/*positioning for features section*/
.grid{
 display:flex;
 flex-direction: row;
}
.icon{
    height: 125px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    height: 125px;
    width:80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*positioning for pricing section*/
#how-it-works{
    display: flex;
    justify-content: center;
}

/*styling*/
body{
    background-color: #eee;
}
@media(max-width:480px) {
    body {
      background-color: gray;
    }
  }

  #pricing{
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }


.product{
    border: 1px solid black;
    width: 200px;
    height:250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn{
    padding: 10px;
    background-color: yellow;
}

.level{
    background-color: darkgray;
    width:100%;
    display: flex;
    justify-content: center;
}

#video{
    width:500px;
}

#footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: darkgray;
    margin-bottom: 0;
    width:750px;
    
}

#footer-container{
    display: flex;
    justify-content: center;
}